<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhu.cep.mbg.mapper.teach_compet.MyCepTeachingCompetitionMapper">

    <select id="getTeachCompet" resultType="CepTeachingCompetition">
        select *
        from cep_teaching_competition
    </select>

</mapper>