<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--  配置连接数据库的环境  -->
    <properties resource="generator.properties" />
    <!--设置类型别名-->
    <typeAliases>
<!--        <package name="com.xhu.cep.mbg.model.teach_compet"/>-->
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <!-- 设置事务管理，type是JDBC，即类型为JDBC，以最原始的JDBC方式来管理，意味着事务的开启与回滚都要手工来管理， -->
            <transactionManager type="JDBC"/>
            <!-- 数据源，连接数据库的信息，type="POOLED"，表示使用数据库连接池  -->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driverClass}"/>
                <property name="url" value="${jdbc.connectionURL}"/>
                <property name="username" value="${jdbc.userId}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--  引入映射文件  -->
    <mappers>
<!--        <mapper resource="mappers/MyCepTeachingCompetitionMapper.xml"/>-->
        <mapper resource="com/xhu/cep/mbg/mapper/teach_compet/TeachCompetMapper.xml"/>
    </mappers>
</configuration>
