<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhu.cep.mbg.mapper.teach_compet.CepTcIdentificationLevelMapper">
  <resultMap id="BaseResultMap" type="com.xhu.cep.mbg.model.teach_compet.CepTcIdentificationLevel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <id column="identification_level_id" jdbcType="INTEGER" property="identificationLevelId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="descripation" jdbcType="VARCHAR" property="descripation" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="updata_time" jdbcType="TIMESTAMP" property="updataTime" />
    <result column="crete_time" jdbcType="TIMESTAMP" property="creteTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, identification_level_id, name, descripation, status, sort, updata_time, crete_time
  </sql>
  <select id="selectByExample" parameterType="com.xhu.cep.mbg.model.teach_compet.CepTcIdentificationLevelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cep_tc_identification_level
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cep_tc_identification_level
    where id = #{id,jdbcType=BIGINT}
      and identification_level_id = #{identificationLevelId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from cep_tc_identification_level
    where id = #{id,jdbcType=BIGINT}
      and identification_level_id = #{identificationLevelId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xhu.cep.mbg.model.teach_compet.CepTcIdentificationLevelExample">
    delete from cep_tc_identification_level
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xhu.cep.mbg.model.teach_compet.CepTcIdentificationLevel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cep_tc_identification_level (identification_level_id, name, descripation, 
      status, sort, updata_time, 
      crete_time)
    values (#{identificationLevelId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{descripation,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, #{updataTime,jdbcType=TIMESTAMP}, 
      #{creteTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xhu.cep.mbg.model.teach_compet.CepTcIdentificationLevel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cep_tc_identification_level
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="identificationLevelId != null">
        identification_level_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="descripation != null">
        descripation,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="updataTime != null">
        updata_time,
      </if>
      <if test="creteTime != null">
        crete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="identificationLevelId != null">
        #{identificationLevelId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="descripation != null">
        #{descripation,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="updataTime != null">
        #{updataTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creteTime != null">
        #{creteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xhu.cep.mbg.model.teach_compet.CepTcIdentificationLevelExample" resultType="java.lang.Long">
    select count(*) from cep_tc_identification_level
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cep_tc_identification_level
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.identificationLevelId != null">
        identification_level_id = #{record.identificationLevelId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.descripation != null">
        descripation = #{record.descripation,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.sort != null">
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.updataTime != null">
        updata_time = #{record.updataTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creteTime != null">
        crete_time = #{record.creteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cep_tc_identification_level
    set id = #{record.id,jdbcType=BIGINT},
      identification_level_id = #{record.identificationLevelId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      descripation = #{record.descripation,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      sort = #{record.sort,jdbcType=INTEGER},
      updata_time = #{record.updataTime,jdbcType=TIMESTAMP},
      crete_time = #{record.creteTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xhu.cep.mbg.model.teach_compet.CepTcIdentificationLevel">
    update cep_tc_identification_level
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="descripation != null">
        descripation = #{descripation,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="updataTime != null">
        updata_time = #{updataTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creteTime != null">
        crete_time = #{creteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
      and identification_level_id = #{identificationLevelId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xhu.cep.mbg.model.teach_compet.CepTcIdentificationLevel">
    update cep_tc_identification_level
    set name = #{name,jdbcType=VARCHAR},
      descripation = #{descripation,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      updata_time = #{updataTime,jdbcType=TIMESTAMP},
      crete_time = #{creteTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
      and identification_level_id = #{identificationLevelId,jdbcType=INTEGER}
  </update>
</mapper>